/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --font-main: 'Inter';
    --font-accent: 'PressStart2P';
    --font-weight-title: 785;
    --font-weight-text: 465;
    --font-dark: #00CC14;

    --background-dark: #000;

}